*{
    box-sizing: border-box;
}
body{
    color: #999999;
    background-color: #000000;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;  
}
main{
    /* margin-top: 4em; */
}
img{
    width: 100%;
    object-fit: cover;
}
a{
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: #ffffff;
}
.wrapper{
    width: 50%;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: auto;
    text-align:inherit;
    border:1px solid #000000;
    }
.logo{
    color: white;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    border-radius: 50%;
    background-color:rgb(56, 47, 47);
    margin: auto;
}
.logo-icon{
    width: 30px;
    object-fit: cover;
}
.main-title{
    font-size: 3em;
    padding: 0 12%;
}
.btn{
display: inline-block;
padding: 0.9em 1.2em;
margin-left: 2em;
border-radius: 50px;
font-weight: 700;
}
.bottom-remix{
    color: black;
    background-color:white; 
}
.bottom-follow{
    margin-left: 1em;
    color:inherit;
    background-color: rgb(56, 47, 47);
}
/* .one-line{ 
    white-space: nowrap;
    overflow:hidden;
} */
.product{
    display: inline-block;
    width: 49%;
    padding: 3em;
    
}
.product-img{
    height: 310px;
    border: 1px solid rgba(255, 255, 255, 0.399);
    border-radius: 20px;
    object-fit: cover;
}
.product-position{
    text-align: left;
}
.product-title{
    font-size: 0.8em;
    border-bottom: 2px;
    margin: 0;
}
.product-text{
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0;
}
.social-list{
    padding: 1em;
    list-style-type: none;
}
.link-footer{
    display: inline-block;
    padding:1em;
}
.footer-name{
    padding:1em;

}