*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
   
}
body{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 24px;
    text-align: center;
    margin-top: 4%;
    margin-right: 10%;
    margin-bottom: 4%;
    margin-left: 10%;
    /* border: 1px solid  */
}
:div{
    width: 100%;
    display:block;
    border: 400px solid; 
}

img{
    width: 100%;
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
}
footer{
    text-decoration: none;
    font-size: 0.8em;
}
li{
    display: inline-block;
}
.wrapper{
    width: 80%;
    margin: auto;
    text-align:inherit
}
.logo{
    color: white;
    width: 45px;
    /* width:30px; */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 50%;
    background-color:rgb(56, 47, 47);
    margin: auto;
}
.div-header{
    box-sizing:border-box;
    inline-size: auto;
    margin-top: auto;
    /* outline:; */
}

.bottom-remix{

    width: 50px;
    color: black;
    background-color:white;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 35%;
}
.bottom-follow{
    width: 50px;
    color:inherit;
    background-color: rgb(56, 47, 47);
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 35%;
}
.product{
    display: inline-block;
    width: 48%;
    /* border-style: solid; */
}
.product-img{
    width: 550px;
    height: 310px;
    border: 1px solid rgba(255, 255, 255, 0.399);
    border-radius: 5%;
    object-fit: cover;
    margin-top: 50px;
}
.product-title{
    font-size: 0.8em;
    text-align: left;
    border-bottom: 2px;
}
.product-text{
    font-size: 0.8em;
    text-align: left;
    font-weight: lighter;
    margin-top: 2;
}
.footer-name{
    margin: auto;
}
.link-footer{
    margin: 10px;
    
}